h1{
font-size: 30px;
font-family: "Trebuchet MS", Verdana, sans-serif;
text-align: center;
color: #de7471
}

p{
font-size: 15px;
text-align: left;
font-family: "Trebuchet MS", Verdana, sans-serif;
}

body {
background-color: #D5DBDB;
font-family: "Trebuchet MS", Verdana, sans-serif;
}